body {
    background-color: rgb(112, 154, 161);
  }
  p:hover{
    color: rgb(7, 6, 7);
   font:italic;
   font-size: 30px;
   color: gold;
   
  }
  h1 {
    color: rgb(75, 52, 110);
   font:italic;
   font-size: 75px;
  }
  h2 {
    color: rgb(0, 255, 85);
   font:italic;
   font-size: 50px;
  }
 
  .input{
    background-color: rgb(110, 160, 168);
    font:italic;
    color: rgb(8, 42, 46);
    font-size: 40px;
  }
  #ditnavn {
    font:italic;
    color: rgb(24, 82, 38);
    font-size: 30px;
    
  }
  #BmiTal {
    font:italic;
    color: rgb(24, 82, 38);
    font-size: 30px;
    
  }
  #Diagnose {
    font:italic;
    color: rgb(21, 63, 31);
    font-size: 30px;
    
  }
  #dia{
    font:italic;
    color:rgb(43, 109, 121);
    font-size: 50px;

  }